<div class="col col-lg-3" style="width: 100%">
  <ul
    class="list-group justify-md"
    style="margin-top: 30px"
    id="list"
    *ngFor="let todo of todos; let i = index"
  >
    <li class="list-group-item" id="list">
      <span> {{ i + 1 }} </span>
      <span
        class="{{ !todo.isComplated ? 'done' : 'undone' }}"
        (click)="done(i)"
      >
        {{ todo.name }}
      </span>
      <span
        style="color: red; font-weight: 900; cursor: pointer"
        (click)="remove(i)"
      >
        X
      </span>
    </li>
  </ul>
</div>
